    @import url(https://db.onlinewebfonts.com/c/789880527b3261751934cac453199c75?family=SPACE+ARMOR);
    @import url(https://fontlibrary.org//face/exo-2);
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
    $space:  'SPACE ARMOR', sans-serif;
    $exo2: 'Exo 2', sans-serif;
    $sans: 'Source Sans Pro', sans-serif;
    
    

    ::-webkit-scrollbar {
        width: 8px; /* Ширина вертикальной полосы */
      }
      
      ::-webkit-scrollbar-track {
        background: #141414; /* Цвет фона трека */
      }
      
      ::-webkit-scrollbar-thumb {
        background: violet; /* Фиолетовый цвет ползунка */
        border-radius: 4px; /* Закругление углов */
      }

      html {
        scrollbar-width: thin; /* "auto" | "thin" | "none" */
        scrollbar-color: violet #141414; /* ползунок и трек */
      }
    body{
        background-color: #141414;
        display: flex;
        overflow-x: hidden;
        flex-direction: column;
        min-height: 100vh
    }
    ul, li, a{
        list-style: none;
        text-decoration: none;
    }
    h1, h2, h3, h4, h5, p{
        color: white;
    }
    header{
        height: 125px;
        width: 1920px;
        display: flex;
        flex-direction: column;
    }
    .hed_top{
        display: flex;
        height: 65xp;
        .logo{
            cursor: pointer;
            display: flex;
            width: 259px;
            height: 55px;
            background-color: #1A1818;
            justify-content: center;
            align-items: center;
            margin-left: 310px;
            gap: 8px;
            p{
                color: white;
                font-family: $space;
                font-size: 24px;
            }
            
        }
        .con{
            display: flex;
            margin-top: 17px;
            margin-left: 74px;
            gap: 20px;
            
            p{
                color: #7D00D0;
                font-family: $exo2;
                font-size: 16px;
            }
            #ras{
                color: #838688;
            }
        }
        .icon_top{
            margin-left: 235px;
            display: flex;
            gap: 30px;
            margin-top: 16px;
            justify-content: center;
            align-items: center;
            height: 48px;
            img{
                cursor: pointer;
                width: 20px;
                height: 18px;
            }
        }
        .prof{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            margin-top: 16px;
            margin-left: 85px;
            img{
                width: 20px;
                height: 18px;
            }
        }

    }

    .hed_down{
        height: 60px;
        width: 1920px;
        background-color: #1B0E21;
        display: flex;
        .cat{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: #390054;
            width: 310px;
            margin-left: 310px;

            img{
                width: 32px;
                height: 32px;
            }
            p{
                a{
                 color: white;
                font-family: $exo2;
                font-size: 16xp;   
                }
                
            }
        }
        .nav{
            display: flex;
            ul{
                display: flex;
                li{
                   a{ 
                    color: white;
                    font-family: $exo2;
                    font-size: 16px;
                    gap: 40px;
                    margin-left: 24px;
                   }}
            }
        }
    }
footer{
    position: relative;
    margin-top: auto;
    top: 119px;
    height: 79px;
    display: flex;
    .logo{  
            cursor: pointer;
            display: flex;
            width: 259px;
            height: 55px;
            background-color: #1A1818;
            justify-content: center;
            align-items: center;
            margin-left: 80px;
            margin-top: 12px;
            gap: 8px;
            p{
                color: white;
                font-family: $space;
                font-size: 24px;
            }
            #dim{
                color: #9900FF;
            }
    }
    .icons{
        display: flex;
        margin-left: 530px;
        margin-top: 29px;
        width: 169px;
        height: 24px;
        gap: 21px;
        justify-content: center;
        align-items: center;
        img{
            cursor: pointer;
            width: 28px;
            height: 23px;
        }

    }
    .sm{
        display: flex;
        margin-left: 223px;
        gap: 45px;
        width: 630px;
        justify-content: center;
        align-items: center;
        p{
            font-family: $sans;
            font-size: 24px;
            color: white;
            width: 383px;
        }
        .bat_sm{
            background-color: #4E1E6D;
            width: 202px;
            height: 45px;
            border-radius: 22.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                font-family: $space;
                font-size: 24px;
                color: white;
            }
            
        }
    }
}


.slider-container {
    position: relative;
    width: 976px;
    height: 524px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-points {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 56px;
    z-index: 2;
}

.point {
    width: 147px;
    height: 5px;
    border-radius: 25%;
    background-color: #A1A1A1;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.point.active {
    background-color: #ffffff;
}

.header_wrapper{
    display: flex;
    margin-left: 87px;
    margin-top: 34px;
    gap: 18px;
    .mascot-container{
        display: flex;
        color: white;
    
        img{
            width: 249px;
            height: 248px;
            margin-top: 90px;
        }

        .speech-bubble{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #787878;
            width: 270px;
            height: 83px;
            border-radius: 17.5px;
            p{
                margin-left: 10px;
                font-size: 14px;
            }
        }
    }

}



  .products-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
            padding: 20px;
            margin: 0;
        }
        
        .product-card {
            border: 1px solid #ddd;
            background-color: #1E1E1E;
            border-radius: 8px;
            padding: 15px;
            position: relative;
            width: 326px;
            height: 594px;
            margin: 0;

            p, h3, .rating, .price, .actions{
                margin-left: 18px;
            }

            h3{
                color: white;
                font-size: 20px;
                max-width: 286px;
                max-height: 26px;
            }
            
        }
        
        .status {
            position: absolute;
            padding: 5px 10px;
            color: white;
            border-radius: 4px;
            right: 11px;
            top: 35px;
            font-size: 16px;
        }
        
        .hit { background-color: #D73838; 
        
        }
        .new { 
            background-color: #9000FF; 
        }
        
        .product-image {
            display: flex;
            margin-top: 67px;
            margin-left: 51px;
            width: 224px;
            height: 224px;
            object-fit: contain;
            margin-bottom: 15px;
        }
        
        .rating {
            color: #FFD700;
            font-size: 24px;
            letter-spacing: 4px;
        }
        
        .price {
            display: flex;
            margin-top: 20px;
            color: white;
            font-weight: bold;
            flex-direction: column;
            span{
                font-size: 16px;
            }
            div{
                font-size: 24px;
            }

        }
        
        .discount-badge {
            background-color: #831BBF;
            color: white;
            padding: 3px 6px;
            border-radius: 23px;
            display: flex;
            gap: 5px;
            width: 117px;
            margin-top: 5px;
            .disk_is{
                background-color: white;
                color: #070C11;
                font-size: 14px;
                width: 37px;
                height: 18px;
                border-radius: 23px;
            }
            .discount-amount{
                font-size: 14px;
            }
        }
        #hits-container, #new-container, #category-5-container,  #category-1-container, #category-3-container{
            display: flex;
            gap: 56px;
        }
        .product-category{
            font-size: 16px;
            color: #838688;
        }
        .rating-reviews{
            display: flex;
            align-items: center;
            .review-block{
                display: flex;
                gap: 5px;
            }
        }

        .reviews{
            font-size: 16px;
            color: white;
        }
        .actions{
            display: flex;
            gap: 10px;
            margin-top: 20px;
        }
        .btn-buy{
            width: 228px;
            height: 48px;
            font-size: 16px;
            color: #6A48A6;
            border-radius: 4px;
            border: #8048A6 solid 1px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family:  $exo2;
            font-weight: bold;
        }
        .btn-cart{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            width: 48px;
            height: 48px;
            background-color: #8848A6;
        }
        .hit_p, .new_p, .category_p{
            display: flex;
            flex-direction: column;
            margin-left: 186px;
            margin-top: 78px;
            .hitp, .newp, .category_header{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        font-family: $exo2;
                       h1{
                        font-size: 30px;
                        color: white;
                       }
                       a{
                        font-size: 13px;
                        color: #AE00FF;
                       }
                    
                }
        
    }


.ckud, .nn{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 225px;
    margin-top: 34px;
    max-width: 1550px;
    div{
        border-radius: 15px;
    }
    .blok_sk1, .blok_sk3{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7430A9;
        width: 707px;
        height: 160px;
        p{
            max-width: 510px;
            max-height: 84px;
            font-family: $space;
            font-size: 30px;
        }
    }
    .blok_sk2, .blok_sk4{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7430A9;
        width: 707px;
        height: 160px;
        p{
            max-width: 510px;
            max-height: 84px;
            font-family: $space;
            font-size: 30px;
        }
    }
}
